body {margin: 0;}

.texto-esquerda{
    width: 100%;
    text-align: left;
}
/* deiixar somete a pag home visivel*/
#home{
    display: block;
}

#login{
    display: none;
}

#criarConta{
    display: none;
}

#reservas{
    display: none;
}

#confirm{
    display: none;
}

/*fonte*/
#container{
    font-family: 'Raleway', sans-serif;
}

/*demarcações de responsividade*/
@media only screen and (max-width:480px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 839px){
    #conatiner{
        width: 100vmin;
        height: 100vmin;
    }
}

@media only screen and (min-width: 840px) and (max-width: 1024px){
    #conatiner{
        width: 100vmin;
        height: 100vmin;
    }
}

@media only screen and (min-width: 1025px){
    #conatiner{
        width: 100vmin;
        height: 100vmin;
    }
}

/*CSS pag home*/

/*---------------ESTILO CABEÇALHO---------------*/
#home header{
    max-width: 100%;
    background-image: url(../images/home-fundo1.png);
    background-size: cover;
    background-position: top center;
}

/*---------------ESTILO NAVEGAÇÃO---------------*/

.links{
    position: relative;
    z-index: 2;
}

#check{
    cursor:pointer;
    position: absolute;
    display: block;
    height: 42px;
    width: 50px;
    opacity: 0;
    margin-top: 1em;
    margin-left: 1em;
    z-index: 11;
}

.lines{
    position: absolute;
    display: block;
    width: 50px;
    border-radius: 30px;
    background-color: #0C1B33;
    transition: 0.25s ease-in-out;
    margin-top: 1em;
    margin-left: 1em;
    z-index: 10;
}
#lines span:nth-child(1){
    top: 0;
    height: 9px;
}

#lines span:nth-child(2){
    top: 17px;
    height: 8px;
}

#lines span:nth-child(3){
    top: 33px;
    height: 9px;
}

/*animação menu hamburger*/

#check:checked ~ #lines span:nth-child(1){
    transform: rotate(-45deg);
    top: 17px;
}

#check:checked ~ #lines span:nth-child(2){
    opacity: 0;
}

#check:checked ~ #lines span:nth-child(3){
    transform: rotate(45deg);
    top: 17px;
}

/*estilo lista de links*/

#list-links{
    width: 100%;
    height: 10em;
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 4em;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    /*bottom: 15em;*/
    transform:  translateY(-104%);
    transition: transform 0.5s;
}

#check:checked ~ #list-links{
    transform: none;
}
#list-links li{
    list-style: none;
    margin: 0.9375em 0 0.9375em 1em;
}

#list-links li a{
    color: #0C1B33;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 13pt;
}

#list-links a:hover{
    color: #5678af;
}


#user{
    position: absolute;
    right: 1em;
    margin-top: 1em;
    z-index: 10;
}
/*---------------FIM ESTILO NAVEGAÇÃO---------------*/

#logo-nav{
    width: 335px;
    height: 335px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
}

#skip-down{
    max-width: 64px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.layered-waves{
    width: 100%;
    display: block;
}

/*---------------FIM ESTILO CABEÇALHO---------------*/

/*---------------ESTILO CORPO---------------*/

/*Reserva*/
#reserva{
    background-image: url(../images/callToAction.png);
    background-position: center;
    text-align: center;
    padding-bottom: 50px;
}

#reserva h2{
    font-weight: 300;
    color: #FF9F00;
    font-size: 40px;
    padding: 0 15px;
}

#reserva p{
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    padding: 0 30px;
    margin-top: 50px;
}

#btn-reserva{
    margin: 100px 0 50px 0;
}

#btn-reserva a{
    text-decoration: none;
    border-radius: 25px;
}

#btn-reserva a:first-of-type{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    background-color: #041430;
    padding: 10px 35px;
    margin: 0 10px;
    transition: 0.5s;
}

#btn-reserva a:first-of-type:hover{
    color: #041430;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 35px;
    margin: 0 10px;
}

#btn-reserva a:last-of-type{
    color: #FF9F00;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 40px;
    border-width: 2px;
    border-style: solid;
    border-color: #FF9F00;
    margin: 0 10px;
    transition: 0.5s;
}

#btn-reserva a:last-of-type:hover{
    color: #FFF;
    font-weight: 500;
    padding: 8px 40px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    margin: 0 10px;
}

/*nossos quartos*/
#quartos{
    background-color: #041430;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#quartos h2{
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    margin: 60px 0 70px 0;
}

#quartos div{
    text-align: justify;
    margin: 25px;
    align-content: center;
}


/*---------------ESTILO CARROSEL---------------*/

#carrossel h2{
    font-weight: 300;
    font-size: 26px;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
#carrossel {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 10px;
  }
  
.carousel{
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  #carrossel {
    -ms-overflow-style: none;
  }
  
  #carrossel ol, #carrosel li {
    list-style: none;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(1) {
    background-image: url(../images/canva-images/servico-surf.png);
    background-size: cover;
    background-position: top left;

  }

  .carousel__slide:nth-child(2) {
    background-image: url(../images/canva-images/servico-lavanderia.png);
    background-size: cover;
    background-position: top left;
  }

  .carousel__slide:nth-child(3) {
    background-image: url(../images/canva-images/servico-quarto.png);
    background-size: cover;
    background-position: top left;
  }

  .carousel__slide:nth-child(4) {
    background-image: url(../images/canva-images/servico-piscina.png);
    background-size: cover;
    background-position: top left;
  }

  .carousel__slide:nth-child(5) {
    background-image: url(../images/canva-images/servico-jogos.png);
    background-size: cover;
    background-position: top left;
  }

  .carousel__slide:nth-child(6) {
    background-image: url(../images/canva-images/servico-restaurante.png);
    background-size: cover;
    background-position: top left;
  }
  
  .carousel__slide:nth-child(7) {
    background-image: url(../images/canva-images/servico-trilha.png);
    background-size: cover;
    background-position: top left;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list{
      margin: 100px 0 0 0;
  }
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #0c1b3380;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
/*---------------FIM ESTILO CARROSEL---------------*/

/*gastronomia*/
#gastronomia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #041430;
    padding: 0 25px;
}

#gastronomia h2{
    text-align: start;
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gastronomia-div{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    margin: 10px;
}

.gastronomia-div img{
    width: 100px;
    height: 100px;
}
/*---------------FIM ESTILO CORPO---------------*/

/*---------------ESTILO RODAPÉ---------------*/
#home footer{
    text-align: center;
    color: #041430;
}

#home footer h3{
    font-weight: 300;
    font-size: 41px;
    margin-bottom: 5px;
}

#home footer h4{
    font-weight: 200;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 80px;
}

#contato{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 100px;
}

#creditos p{
    font-weight: 300;
    font-size: 15px;
    margin: 40px 0;
}

#creditos b{
    font-weight: 500;
}
/*---------------FIM ESTILO RODAPÉ---------------*/


/*---------------CSS PAG LOGIN---------------*/
#login{
    background-image: url(../images/piscina.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.glass{
    display: inline-block;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    margin: 46px 34px;
}

#container-login{
    margin: 25px;
}

#login header img{
    width: 200px;
    height: 200px;
}

#login header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
}

#login main form input:nth-child(1), 
#login main form input:nth-child(2){
    width: 100%;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
}

#login footer hr{
    background-color: #333333;
    border: none;
    height: 1px;
    margin-top: 40px;
}

#login footer p:first-of-type{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}


#login footer p:last-of-type{
    color: #041430;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 25px;
}

#login footer p a{
    text-decoration: none;
    color: #0c1b3394;
    font-weight: 700;
    transition: 0.1s;
}

#login footer p a:hover{
    text-decoration: none;
    color: #0c1b33;
    font-weight: 700;
}
/*---------------FIM CSS PAG LOGIN---------------*/

/*---------------CSS PAG CADASTRO---------------*/
#criarConta{
    background-image: url(../images/piscina.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.glass{
    display: inline-block;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    margin: 46px 34px;
}

#container-criarConta{
    margin: 25px;
}

#criarConta header img{
    width: 200px;
    height: 200px;
}

#criarConta header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
}

#aniversario{
    display: flex;
}

.input{
    width: 100%;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
}

#criarConta main form select{
    width: 100%;
    height: 54px;
    border: 0.5px solid #04143083;
    margin: 5px 10px;
    padding-left: 10px;
    color: gray;
}

#criarConta main form option{
    color: #000;
}

.texto-aniversario{
    margin: 20px 0 5px 0;
}

.termos{
    font-weight: 500;
    font-size: 14px;
    margin-top: 25px;
}

.termos a{
    text-decoration: none;
    color: #0c1b33;
}

#criarConta footer hr{
    background-color: #333333;
    border: none;
    height: 1px;
    margin-top: 40px;
}

#criarConta footer p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

#criarConta .btn-footer{
    padding: 17px 160px;
}



/*---------------FIM CSS PAG CADASTRO---------------*/

/*---------------CSS PAG RESERVAS---------------*/
#reservas{
    background-image: url(../images/home-fundo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.glass{
    display: inline-block;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    margin: 46px 34px;
}

#container-reservas{
    margin: 25px;
}

#reservas header img{
    width: 200px;
    height: 200px;
}

#reservas header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
}

#datas{
    display: flex;
}

#datas input{
    width: 100%;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
}

#datas input:first-of-type{
    margin-right: 5px;
}

#datas input:last-of-type{
    margin-left: 5px;
}

#suites{
    width: 100%;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
    color: gray;
}

#pessoas{
    display: flex;
}

#pessoas input{
    width: 100%;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
}

#pessoas input:first-of-type{
    margin-right: 5px;
}

#pessoas input:last-of-type{
    margin-left: 5px;
}

#codigo{
    width: 360px;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
}

#reservas footer hr{
    background-color: #333333;
    border: none;
    height: 1px;
    margin-top: 40px;
}

#reservas footer p:first-of-type{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

#reservas .btn-footer{
    padding: 17px 160px;
}

#reservas footer p:last-of-type{
    color: #041430;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 25px;
}

#reservas footer p a{
    text-decoration: none;
    color: #0c1b3394;
    font-weight: 700;
    transition: 0.1s;
}

#reservas footer p a:hover{
    text-decoration: none;
    color: #0c1b33;
    font-weight: 700;
}
/*---------------FIM CSS PAG RESERVAS---------------*/

/*---------------CSS PAG CONFIRMAÇÃO---------------*/
#confirm{
    background-image: url(../images/home-fundo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.glass{
    display: inline-block;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    margin: 46px 34px;
}

#container-confirm{
    margin: 25px;
}

#confirm header img{
    width: 200px;
    height: 200px;
}

#confirm header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 30px;
}

#confirm main form input:nth-child(1),
#confirm main form input:nth-child(2),
#confirm main form input:nth-child(4),
#confirm main form input:nth-child(6),
#confirm main form input:nth-child(7){
    width: 100%;
    height: 50px;
    border: 0.5px solid #04143083;
    margin: 5px 0;
    padding-left: 10px;
}

#endereco input:first-of-type{
    margin-right: 5px;
}

#endereco input:last-of-type{
    margin-left: 5px;
}

.texto-confirm{
    margin: 20px 0 5px 0;
}

#confirm footer hr{
    background-color: #333333;
    border: none;
    height: 1px;
    margin-top: 40px;
}

#confirm footer p:first-of-type{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

#confirm .btn-footer{
    padding: 17px 73px;
}


#confirm footer p:last-of-type{
    color: #041430;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 25px;
}

#confirm footer p a{
    text-decoration: none;
    color: #0c1b3394;
    font-weight: 700;
    transition: 0.1s;
}

#confirm footer p a:hover{
    text-decoration: none;
    color: #0c1b33;
    font-weight: 700;
}

/*---------------FIM CSS PAG CONFIRMAÇÃO---------------*/

/*---------------CSS BTN---------------*/
.btn-form{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #041430;
    width: 175px;
    height: 50px;
    margin: 15px 10px;
    transition: 0.2s;
    border: none;
    border-radius: 50px;
}

.btn-form:hover{
    color: #041430;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #041430;

}

.btn-footer{
    padding: 17px 34%;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #041430;
    border: 2px solid #041430;
    border-radius: 50px;
    transition: 0.2s;
}

.btn-footer:hover{
    color: #fff;
    background-color: #041430;
}
/*---------------FIM CSS BTN---------------*/