/* deiixar somete a pag home visivel*/
#home{
    display: block;
}

#login{
    display: none;
}

#criarConta{
    display: none;
}

#reservas{
    display: none;
}

#confirm{
    display: none;
}

/*fonte*/
#container{
    font-family: 'Raleway', sans-serif;
}

/*demarcações de responsividade*/
@media only screen and (max-width:480px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 839px){
    #conatiner{
        width: 100vmin;
        height: 100vmin;
    }
}

@media only screen and (min-width: 840px) and (max-width: 1024px){
    #conatiner{
        width: 100vmin;
        height: 100vmin;
    }
}

@media only screen and (min-width: 1025px){
    #conatiner{
        width: 100vmin;
        height: 100vmin;
    }
}

/*CSS pag home*/

/*---------------ESTILO CABEÇALHO---------------*/
#home header{
    max-width: 100%;
    background-image: url(../images/home-fundo1.png);
    background-size: cover;
    background-position: top center;
}

/*---------------ESTILO NAVEGAÇÃO---------------*/

.links{
    position: relative;
    z-index: 2;
}

#check{
    cursor:pointer;
    position: absolute;
    display: block;
    height: 42px;
    width: 50px;
    opacity: 0;
    margin-top: 1em;
    margin-left: 1em;
    z-index: 11;
}

.lines{
    position: absolute;
    display: block;
    width: 50px;
    border-radius: 30px;
    background-color: #0C1B33;
    transition: 0.25s ease-in-out;
    margin-top: 1em;
    margin-left: 1em;
    z-index: 10;
}
#lines span:nth-child(1){
    top: 0;
    height: 9px;
}

#lines span:nth-child(2){
    top: 17px;
    height: 8px;
}

#lines span:nth-child(3){
    top: 33px;
    height: 9px;
}

/*animação menu hamburger*/

#check:checked ~ #lines span:nth-child(1){
    transform: rotate(-45deg);
    top: 17px;
}

#check:checked ~ #lines span:nth-child(2){
    opacity: 0;
}

#check:checked ~ #lines span:nth-child(3){
    transform: rotate(45deg);
    top: 17px;
}

/*estilo lista de links*/

#list-links{
    width: 100%;
    height: 10em;
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 4em;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    /*bottom: 15em;*/
    transform:  translateY(-104%);
    transition: transform 0.5s;
}

input#check:checked ~ #list-links{
    transform: none;
}
#list-links li{
    list-style: none;
    margin: 0.9375em 0 0.9375em 1em;
}

#list-links li a{
    color: #0C1B33;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 13pt;
}

#list-links a:hover{
    color: #5678af;
}


#user{
    position: absolute;
    right: 1em;
    margin-top: 1em;
    z-index: 10;
}
/*---------------FIM ESTILO NAVEGAÇÃO---------------*/

#logo-nav{
    width: 335px;
    height: 335px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
}

#skip-down{
    max-width: 64px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.layered-waves{
    width: 100%;
    display: block;
}

/*---------------FIM ESTILO CABEÇALHO---------------*/

/*---------------ESTILO CORPO---------------*/

/*Reserva*/
#reserva{
    background-image: url(../images/callToAction.png);
    background-position: center;
    text-align: center;
    padding-bottom: 50px;
}

#reserva h2{
    font-weight: 300;
    color: #FF9F00;
    font-size: 40px;
    padding: 0 15px;
}

#reserva p{
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    padding: 0 30px;
    margin-top: 50px;
}

#btn-reserva{
    margin: 100px 0 50px 0;
}

#btn-reserva a{
    text-decoration: none;
    border-radius: 25px;
}

#btn-reserva a:first-of-type{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    background-color: #0C1B33;
    padding: 10px 35px;
    margin: 0 10px;
    transition: 0.5s;
}

#btn-reserva a:first-of-type:hover{
    color: #0C1B33;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 35px;
    margin: 0 10px;
}

#btn-reserva a:last-of-type{
    color: #FF9F00;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 40px;
    border-width: 2px;
    border-style: solid;
    border-color: #FF9F00;
    margin: 0 10px;
    transition: 0.5s;
}

#btn-reserva a:last-of-type:hover{
    color: #FFF;
    font-weight: 500;
    padding: 8px 40px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    margin: 0 10px;
}

/*nossos quartos*/

/*---------------FIM ESTILO CORPO---------------*/
